name: Upload Build Artifact
on:
  workflow_call:

jobs:
  artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Download Build Output
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: .

      - name: Ensure Artifact Folder Exists
        run: mkdir -p bin/Debug/net8.0

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Calculator-build
          path: '**/bin/Debug/net8.0/**'
