
name: Build .NET Solution
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download Source Code
        uses: actions/download-artifact@v4
        with:
          name: source-code
          path: .

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build Solution
        run: dotnet build --no-restore

      - name: Ensure Build Output Folder Exists
        run: mkdir -p bin/Debug/net8.0

      - name: Upload Build Output
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: '**/bin/Debug/net8.0/**'
