name: Build Docker Image

on:
  workflow_call:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build Docker Image
        run: docker build -t calculator-app .
        
      - name: List Docker Images
        run: docker images