name: Deploy to Netlify

on: 
  workflow_call: 
    secrets: 
      NETLIFY_AUTH_TOKEN:
        required: true
      NETLIFY_SITE_ID:
        required: true

jobs:
  deploy-to-netlify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout reppository
        uses: actions/checkout@v4

      - name: Download Coverage Report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report
          path: coverage

      - name: Install Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: '18'

      - name: Install Netlify CLI
        run: npm install -g netlify-cli

      - name: Deploy to Netlify
        id: netlify-deploy
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: |
         DEPLOY_OUTPUT=$( netlify deploy \
           --dir=coverage \
           --prod \
           --site=$NETLIFY_SITE_ID \
           --json )
         echo "$DEPLOY_OUTPUT"
         DEPLOY_URL=$( echo"$DEPLOY_OUTPUT" | jq -r '.url')
         echo "DEPLOY_URL = $DEPLOY_URL" >> $GITHUB_ENV

      - name: Add Netlify URL to Summary
        run: |
          echo "### Coverage Report Deployed To Netlify" >> $GITHUB_STEP_SUMMARY
          echo "[View Coverage Report]($DEPLOY_URL)" >> $GITHUB_STEP_SUMMARY
