name: Reusable - SonarCloud Analysis
on:
  workflow_call:
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"
      - name: Install Sonar Scanner
        run: dotnet tool install --global dotnet-sonarscanner
      - name: SonarCloud Begin
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet-sonarscanner begin \
            /k:"harini-ar-24_CalculatorApplication" \
            /o:"harini-ar-24" \
            /d:sonar.login="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.host.url="https://sonarcloud.io"
      - name: Build Solution
        run: dotnet build --no-restore
      - name: SonarCloud End
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet-sonarscanner end \
            /d:sonar.login="${{ secrets.SONAR_TOKEN }}"