name: SonarQube

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  build:
    name: Analyze
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Coverage Report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report
          path: coverage

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Install Sonar scanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Sonar Analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
            dotnet-sonarscanner begin `
            /k:"SaurabhDev2001_Training_G10" `
            /o:"devop-testing" `
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" `
            /d:sonar.cs.opencover.reportsPaths="${{ runner.temp }}\coverage\coverage.opencover.xml"

      - name: Build project
        run: dotnet build --no-incremental

      - name: End Sonar analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"


      - name: Download SonarCloud Quality Gate Status
        run: |
          curl -s -u "${{ secrets.SONAR_TOKEN }}:" `
          "https://sonarcloud.io/api/qualitygates/project_status?projectKey=SaurabhDev2001_Training_G10" `
          -o sonar-quality-gate.json

      - name: Download SonarCloud Issue Report
        run: |
          curl -s -u "${{ secrets.SONAR_TOKEN }}:" `
          "https://sonarcloud.io/api/issues/search?componentKeys=SaurabhDev2001_Training_G10" `
          -o sonar-issues.json

      - name: Upload SonarCloud Report as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sonarcloud-reports
          path: |
            sonar-quality-gate.json
            sonar-issues.json
          retention-days: 14


