name: System Tests
on:
  workflow_call:
  
jobs:
  system-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup .Net
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Ensure TestResults folder exists
        run: mkdir -p TestResults
        
      - name: Run System Tests
        run: dotnet test Calculator_Application.sln --filter "Category=System" --logger "trx;LogFileName=TestResults.trx" --results-directory TestResults
        
      - name: Upload System Test Results
        uses: actions/upload-artifact@v4
        with:
          name: system-test-results
          path: TestResults

      
